<%= render 'errors' %>

<%= form_tag '/dares', class: "form-horizontal" do %>
  <div class="form-group<%= ' has-error' if @dare.errors[:title].any? %>">
    <%= label_tag :title, nil, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_field_tag :title, nil, placeholder: 'Name of dare.', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :subject_email, 'Target Email', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= email_field_tag :subject_email, nil, placeholder: 'Choose a target, or leave it an open dare.', class: 'form-control' %>
    </div>
  </div>
 
  <div class="form-group<%= ' has-error' if @dare.errors[:description].any? %>">
    <%= label_tag :description, nil, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= text_area_tag :description, nil, placeholder: 'Give a short description.', class: 'form-control', rows: '5', style: 'resize:none;' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag 'Submit', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
